nav {
	float: right;
	padding: 0px 20px;
}

h3 {
	padding: 0px 10px;
}

header {
	margin: 0 Auto;
	border: 1px solid black;
	box-shadow: 2px 10px 10px grey;	
	
}

#header .logo {
	height: 70px;
    width: 90px;
}

