<header id="header" class="row">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h3 class="my-0 mr-md-auto font-weight-normal"><img class="logo" src="assets/image/todolist.jpg" alt="You are on top of my todoliste" />MAX To Do Liste</h3>
    
  
        <nav class="my-2 my-md-0 mr-md-3" style="float: left;">
          <button type="button" class="btn btn-danger" (click)="onLogout()">se déconnecter</button>        
        </nav>       
  </div>
</header>

