<article class="row">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <p class="lead">Liste des tâches à réaliser</p>
      <a routerLink="/todoliste"><button type="button" class="btn btn-success" >Liste des projets</button></a>
      <a routerLink="/formulaireTache"><button type="button" class="btn btn-primary" >Creer une tâche</button></a><br>
             <br> <h2 class="lead">Kanban de Maxime</h2>
             <br>
  </div>
</article>

<div class="container">
<div class="example-container">
  <h3>A Faire</h3>

  <div  
  (mouseup)="getPosition('à faire')"
    cdkDropList
    #AFaire="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[EnCour]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag [cdkDragData]="item">{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h3>En Cours</h3>

  <div
  (mouseup)="getPosition('en cours')"
    cdkDropList
    #EnCour="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[AFaire, EnCour, Terminer]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragData]="item">{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h3>Terminer</h3>

  <div
  (mouseup)="getPosition('terminer')"
    cdkDropList
    #Terminer="cdkDropList"
    [cdkDropListData]="finish"
    [cdkDropListConnectedTo]="[EnCour]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of finish" cdkDrag [cdkDragData]="item">{{item}}</div>
  </div>
</div>
</div>