<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Liste de tous les projets pour ne pas les oublier</p>
  <a routerLink="/formulaire"><button type="button" class="btn btn-success">Créer une tâche</button></a>
  <a routerLink="/kanban"><button type="button" class="btn btn-primary">Tableau Kanban</button></a>
</div>

<div class="container">       
  <div class="m-5"> 
    
    <!--<mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>-->

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">    

          <!-- Position Column -->
          <ng-container matColumnDef="idListe">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let liste"> {{liste.idListe}} </td>
          </ng-container>
          
          <!-- Date Column -->
          <ng-container matColumnDef="dateListe">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let liste"> {{liste.dateListe |date:'dd/MM/yy'}} </td>
          </ng-container>
          
          <!-- Nom Column -->
          <ng-container matColumnDef="nomListe">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let liste"> {{liste.nomListe}} </td>
          </ng-container>
      
          <!-- Description Column -->
          <ng-container matColumnDef="decritListe">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let liste"> {{liste.decritListe}} </td>
          </ng-container>
      
          <!-- Niveau Column -->
          <ng-container matColumnDef="evolListe">
            <th mat-header-cell *matHeaderCellDef> Niveau </th>
            <td mat-cell *matCellDef="let liste"> {{liste.evolListe}} </td>
          </ng-container>


          <!-- modifier Column -->
          <ng-container matColumnDef="modif">
            <th mat-header-cell *matHeaderCellDef> Modifier </th>
            <td mat-cell *matCellDef="let liste"><button type="button" class="btn btn-success" routerLink="/formulaire/{{liste.idListe}}">Modifier</button></td>
          </ng-container>

          <!-- supprimer Column -->
          <ng-container matColumnDef="Supp">
            <th mat-header-cell *matHeaderCellDef> Supprimer </th>
            <td mat-cell *matCellDef="let liste"><button class="btn btn-danger" (click)="onDelete(liste.idListe)">Supprimer</button></td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [length]="dataSource.data.length"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

  </div>
</div>
