.lead {
  color: #054581;
  font-weight: bold;
}

table {
    width: 100%;  
       
  }

  .container {
    max-width: 1400px;
}
  
  th {  
    font-weight: bold;  
    font-size: 18px;
    color: #054581;
    background-color: #8cbbe6;
    border-color: #E1EBF5;
  }
  
  th.mat-header-cell{
    text-align: center;
  }

  td {
    font-size: 18px;
    color: #ffffff;
    background-color: #054581;
    border-color: #E1EBF5;
    text-align: center;
  }

  a {
    color: #ffffff;
  }

mat-paginator {
  background-color:#054581;  
  font-size: 18px;
  color: #ffffff;
}

.btn-success {
    margin: 10px;
    color: #fff;
    background-color:#248130 ;
    border-color: #248130;
}

.btn-primary {
  color: #fff;
  background-color: #054581;
  border-color: #054581;
}